<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/CSS/inicio.css">

</head>
<body>
<div id="pt_fundo">
    <h1>Quem Nós Somos</h1>
    <div id="pt_frente">
        <form action="/" id="home" method="GET">
            <label for="home">Nós somos uma empresa especilizada na comercialização <br>de softwares personalizados,
            no ramo do controle de atividades<br> referentes ao Recursos Humanos.<br> <br>O controle da empresa na sua mão!!
            </label>

        </form>

    </div>
</div>
<div id="titu_fundo">
    <h1>Selecione sua empresa</h1>
    <div id="empresa_frente">
        <form action="/login" id="selecionar" method="GET">
            <label for="selecionar">HEBERLOG</label>
            <button type="submit" id="btn_home">
                <span></span>
                <span></span>
                <span></span>
                <span></span>ENTRAR
            </button>

        </form>

    </div>
</div>

</body>
</html>